{% extends 'base.html' %}
{% load static %}
{% block title %}Impressum{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/impressum.css' %}">
{% endblock %}


{% block content %}
<div class="impressum-container">
    <h1>Impressum</h1>
    <section class="statischer-bereich">
        <p>
            <b>DITIB-Türkisch Islamische Gemeinde zu Gersthofen e.V.</b>
            <br>
                Gründungsjahr: 1986
            <br>
            <hr>
                1245.vorstand@ditib-by-s.de
            <br>    
                Amtsgericht Augsburg VR-1362
            <br>    
                Finanzamt Augsburg-Land 
            <br>    
                Steuernummer.:102/111/10029
        </p>
        </section>
    
    <!-- Hier kannst du deine Impressum-Daten einfügen -->
</div>
{% endblock %}
